@import './WEB/css/array.css';

@font-face {
    font-family: 'jgs7';
    src: url('jgs7.woff2') format('woff2'),
        url('jgs7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'jgs5';
    src: url('jgs5.woff2') format('woff2'),
        url('jgs5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'jgs9';
    src: url('jgs9.woff2') format('woff2'),
        url('jgs9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'jgs';
    src: url('jgs_Font.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

 @font-face {
      font-family: 'YAGIZA';
      src: url('Cyberpunk.ttf')
    format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
  }

  @font-face {
      font-family: 'PLANT';
      src: url('Eternal.ttf')
    format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
  }

@font-face {
    font-family: 'Redaction';
    src: url('redaction/Redaction-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction';
    src: url('redaction/Redaction-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction';
    src: url('redaction/Redaction-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 10';
    src: url('redaction/Redaction_10-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction 10';
    src: url('redaction/Redaction_10-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction 10';
    src: url('redaction/Redaction_10-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 20';
    src: url('redaction/Redaction_20-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction 20';
    src: url('redaction/Redaction_20-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction 20';
    src: url('redaction/Redaction_20-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 35';
    src: url('redaction/Redaction_35-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction 35';
    src: url('redaction/Redaction_35-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction 35';
    src: url('redaction/Redaction_35-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 50';
    src: url('redaction/Redaction_50-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction 50';
    src: url('redaction/Redaction_50-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction 50';
    src: url('redaction/Redaction_50-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 70';
    src: url('redaction/Redaction_70-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction 70';
    src: url('redaction/Redaction_70-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction 70';
    src: url('redaction/Redaction_70-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 100';
    src: url('redaction/Redaction_100-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction 100';
    src: url('redaction/Redaction_100-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redaction 100';
    src: url('redaction/Redaction_100-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}